
*{
    color:white;
    text-align:center;
    align-items:center;
    font-family: Amatic SC
}
h1{
    display:flex;
    justify-content:center;
    width:100%;
    height:100%;
    color:black
}
body{
    color:white;
    background-color:pink
}
button{
    width:150px;
    height:50px;
    background-color:rgba(125, 54, 119, 0.611);
    border-radius:10px;
    border-color:rgb(207, 159, 159);
    justify-content:center;
    margin-bottom:20px;
    font-size:20px;
    padding:10px
}